body {
    background-color: #b3afaf;
    max-width: 1000px;
    max-height: 1200px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    width: 390px;
    height: 540px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

form h1 {
    font-weight: normal;
    text-align: center;
    color: #3f3f46;
    margin-top: 75px;
    margin-bottom: 34px;
}

/*--  I N P U T 01  --*/
input[type="text"] {
    width: 275px;
    font-weight: bold;
    outline: none;
    letter-spacing: 0.3px;
    line-height: 33px;
    border: none;
    color: #787894;
    border-bottom: 2px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

/*--  I N P U T 02  --*/
input[type="email"] {
    width: 275px;
    font-weight: bold;
    outline: none;
    letter-spacing: 0.3px;
    line-height: 33px;
    border: none;
    color: #787894;
    border-bottom: 2px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

/*--  I N P U T 03/04  --*/
input[type="password"] {
    width: 275px;
    font-weight: bold;
    outline: none;
    letter-spacing: 0.3px;
    line-height: 33px;
    border: none;
    color: #787894;
    border-bottom: 2px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

/*--  I N P U T 05  --*/
input[type="submit"] {
    width: 277px;
    font-weight: bold;
    outline: none;
    text-shadow: 2px 2px 5px #4e4e4e;
    letter-spacing: 0.3px;
    line-height: 46px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: linear-gradient(90deg, #22d2fd, #b622ff);
}

input[type="submit"]:hover {
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:active {
    background: linear-gradient(90deg, #b622ff, #22d2fd);
    box-shadow:  inset 0px 2px 3px #2e2e2e;
    font-size: 14px;
}

/*--  footer  --*/
.register {
    font-size: 12px;
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
    color: #787894;
}

.register a {
    text-decoration: none;
    color: #787894;
}

.register a::before {
    content: " ";
}

.register a:hover {
    color: rgb(104, 11, 167);
    font-weight: 900;
}
